[2013-10-05 14:21] mark0978 opened #2 "What is the License for this code?"
Just discovered this code, was wondering what the license on it is.

[2013-10-06 00:09] #2 closed, assigned to nobody

[2014-06-15 00:32] JacobPolloreno opened #7 "Issue with admin inline and colorfield"
The ColorField is initialized with a 'None' value which in turn causes the whole inline model to be required.

[2014-06-16 15:46] mattots opened #8 "MEDIA_URL in fields.py"
Shouldn't this be STATIC_URL? Otherwise it's trying to find colorfield/jscolor.js in my client-uploaded media directory!

[2014-07-22 22:42] sdeleon28 opened #9 "South introspection rule not present in PyPI v0.1.1"
The latest setup.py states that it is v0.1.1 but if you download django-colorfield v0.1.1 from PyPI (with `pip install django-colorfield==0.1.1`) then the field freezing stuff for south is missing. Here's a copy of the content of fields.py for v0.1.1 hosted at PyPI.

[code]

[2015-10-02 17:19] fabiocaccamo opened #14 "templates folder and static folder not installed if using pip"
**TemplateDoesNotExist** -> colorfield/color.html
"templates" folder and "static" folder are not included in the dist package.

![schermata 2015-11-04 alle 15 13 15](https://cloud.githubusercontent.com/assets/1035294/10940469/ca9ce97a-8306-11e5-82bf-777e80e57e0e.png)

I think the problem is in MANIFEST.in or in setup.py,
could you fix it? I need to use django-colorfield as an external dependency o

[2015-11-13 11:52] #14 closed

[2015-11-13 16:59] fabiocaccamo commented on #8
It has been fixed.

[2015-11-13 16:59] #8 closed

[2015-11-18 05:35] auvipy opened #15 "I would like to take over for further maintenance."
I'm a senior python developer and use django for day to day task

[2015-11-18 18:38] jaredly commented on #15
Thanks for the offer! That message is old, sorry -- I just updated the
readme to indicate that gtnx and fabiocaccamo have stepped in to help out.

On Tue, Nov 17, 2015 at 10:35 PM Asif Saifuddin Auvi <
notifications@github.com> wrote:

[2015-11-18 18:39] auvipy commented on #15
awesome :dancer:

[2015-11-18 18:39] #15 closed

[2015-11-19 14:53] fabiocaccamo opened #16 "widget image"
![django-colorfield](https://cloud.githubusercontent.com/assets/1035294/11273806/a015270a-8ed5-11e5-8546-1fd4cc241266.png)

[2015-11-19 14:53] #16 closed

[2016-01-25 18:47] phoebebright commented on #8
Or even no path at all.  The current version fails in django 1.8.5 as settings are not yet available.
Can do pull request with this change, if you think this is the right way to go:

        try:
             js = [settings.STATIC_URL + 'colorfield/jscolor/jscolor.js']

[2016-01-25 22:09] fabiocaccamo commented on #8
@phoebebright have you tried the latest release?

[2016-01-25 22:27] phoebebright commented on #8
The problems I was having were to do with my test environment (oops), however django suggested format for form media files now does not include the STATIC_URL so I left that part of the comment in.  Feel free to ignore!

[2016-06-07 11:39] snig-b opened #17 "Default color not reflecting"
I have given a default hex value (**'#FFC107'**) in the model field. But the widget still gets initialized with **#FFFFFF** .
Any clue as to why this is happening?

[2016-06-09 10:33] fabiocaccamo commented on #17
With which Django version did you issue the problem?

[2016-06-10 08:08] snig-b commented on #17
Hey, I am Django 1.6.5

[2016-06-16 06:53] snig-b commented on #17
Any updates on this? I debugged it and seems the value context variable for colorfield widget is being set None, shouldn't it receive the color I gave as default. I went in deeper in django libraries and failed to find out what the problem is... since it is None, jscolor.js changes it to #FFFFFF .

[2016-06-16 09:03] fabiocaccamo commented on #17
Sorry, I had not yet the time to investigate it.
I can tell you that I'm using django-colorfield as dependency of the [django-admin-interface](https://github.com/fabiocaccamo/django-admin-interface/) app and default value works.
Could you try to test it on a more recent django version ?

[2016-08-19 22:35] vsoch opened #19 "choose from subset of colors?"
Does the module allow for selection from a core set of colors? (versus the whole gamut!)

[2016-08-23 13:15] fabiocaccamo commented on #19
Hi @vsoch,
no actually it doesn't, I think that the 'choices' support would be a nice feature, feel free to submit a PR.

[2016-08-30 10:11] aidan2129 commented on #14
+1

[2016-12-12 00:43] 7wonders opened #21 "Should be staticfiles_storage and not default_storage"
default_storage can actually be completely different to staticfiles_storage method (for example use s3 for default but local on the static files). Its and easy fix, I will add a pull request.

[2016-12-12 19:13] #21 closed

[2017-01-29 13:38] ArtemBernatskyy opened #25 "GET http://192.168.0.102:8000/media/colorfield/jscolor/jscolor.js 404 error"
GET http://192.168.0.102:8000/media/colorfield/jscolor/jscolor.js  404 error

[2017-01-29 13:46] ArtemBernatskyy commented on #25
duplication, because in merge it will be solved.

[2017-01-29 13:46] #25 closed

[2017-01-29 17:56] gtnx commented on #17
Same for me. It works fine. Please provide more info

[2017-01-30 05:30] snig-b commented on #17
Seemed to work on a newer version. If I face the problem again I'll request a reopen then. You can close the issue. Thanks

[2017-01-30 07:50] #17 closed

[2017-01-30 20:46] gtnx commented on #9
[0.1.12 has been released](https://pypi.python.org/pypi/django-colorfield/0.1.12)

[2017-01-30 20:46] #9 closed

[2017-01-30 20:46] gtnx commented on #21
[0.1.12 has been released](https://pypi.python.org/pypi/django-colorfield/0.1.12)

[2017-04-11 09:22] danielquinn opened #27 "Why is max_length = 10?"
Given that a hex colour is at most 7 characters (including the `#`), why is `max_length` set to `10` on [this line](https://github.com/jaredly/django-colorfield/blob/master/colorfield/fields.py#L28)?

Thanks a lot for this project.  I understand that you're not actively developing on Django anymore, but this appears to still be the best one out there, so I'm going to use it anyway.

[2017-04-12 14:39] danielquinn opened #30 "License incompatibility?"
Given that jscolor is GPL3, doesn't that mandate that django-colorfield must *also* be GPL3?

[2017-04-14 13:49] fabiocaccamo commented on #27
An alpha-hex color is 8 characters (9 including the `#`).

[2017-04-14 13:49] #27 closed

[2017-04-14 14:30] fabiocaccamo commented on #30
Good question...frankly I don't know. Could you investigate it?

[2017-04-14 14:43] danielquinn commented on #30
I'm not a legal expert, but as best I can tell, the licenses *are* compatible, but if distributed together, [the GPL supersedes the MIT license](http://stackoverflow.com/a/11752204/231670).  So legally speaking (if my reading is correct) you'd either have to re-license under the GPL or remove the GPL component library, replacing it with instructions on how to acquire it and make it available to th

[2017-04-14 15:14] fabiocaccamo commented on #30
Reading stackoverflow:

Since it's not really clear, we continue with the MIT License.

[2017-04-18 14:28] #30 closed

[2017-05-22 13:26] rogribas opened #32 "Need a new realease with the last commit."
I need a new release in order to import correctly the library, right now it is not working with my python 2 project.

[2017-05-22 13:45] fabiocaccamo commented on #32
@rogribas released `0.1.14`

[2017-05-22 13:45] #32 closed

[2017-07-25 19:26] austintrose opened #33 "JsColor has a commercial license, whereas this repo advertises an MIT license."
I recently started using `django-colorfield` in a commercial application. I assumed that this was OK, given the MIT license advertised here. However, on the [official jscolor](http://jscolor.com/download/) page they clearly describe their commercial license.

So, without purchasing a commercial license from `jscolor` is is inappropriate to use `django-colorfield` in any non-open-source software.

[2017-07-25 21:15] jaredly commented on #33
oh great point. looks like when upgrading to version 2.0.4 their license changed; it was previously LGPL, and there was no commercial license.
This change happened long after I stopped using / actively maintaining this library, and I didn't notice :(

We should move over to [Spectrum](https://github.com/bgrins/spectrum) or [colorPicker](https://github.com/PitPik/colorPicker), both of which are MIT

[2017-07-27 08:45] fabiocaccamo commented on #33
I think that a good improvement would be to support multiple color-pickers libs to allow the users to choose the right one for their project via settings, in this way we can also continue to use jscolor for non-commercial projects.

[2017-07-28 14:39] austintrose commented on #33
That's a nice idea! There's [`django-color-utils`](https://github.com/timchurch/django-color-utils) which does something similar, but appears to have been abandoned quite a while ago.

[2017-08-14 09:49] Asterrea opened #34 "Colorfield in Meta as Widget not working?"
I'm not sure if this is happening to anyone else but the color widget won't show up in my form. Assuming that I have the correct code implementation as followed from Django Tutorials:

[code]

![image](https://user-images.githubusercontent.com/7810581/29266816-af3c7620-8118-11e7-8142-2a57bf0dc932.png)

Am I doing a wrong implementation?
Thanks in advance!

[2017-09-29 21:55] sidneijp commented on #34
You must put `color`  and `text_color` on `fields` too.

[2017-11-16 14:40] alexander-pastukhov opened #36 "Invalid color #FF0000"
Hi,

I have a project that uses django-color and all went swimmingly, while I was using 0.1.10. Thanks for a very useful field! However, after I've upgraded to 0.1.14, it would never validate the color string, such as "#FF0000" I've used as default. I have solved the problem by rolling back to 0.1.10. I am not sure what kind of diagnostic I can provide for the issue.

Best regards,
Alexander

[2017-12-03 08:11] gamesbook commented on #19
I'd support this idea; there are many times that clients need to ensure consistency by only choosing from a subset of options.

[2017-12-09 18:24] vsoch opened #37 "minimum working example?"
Heyo! I decided to give a go at adding the ability to do selection of a specific colorset, and what I thought would be quick is turning into a nightmare :( I can't get even the most basic case working - a list of issues:

 - installation with an egg doesn't properly add templates unless the template loader is active
 - I never got the static files to be added from colorfields
 - it's not actually

[2018-05-03 14:07] roryrjb opened #39 "not working on django 1.11.x"
The exception raised is:

[code]

...everything was working just fine in `v1.10.x`. It appears the widget API changed from `v1.11.0` onwards, see https://docs.djangoproject.com/en/2.0/ref/forms/widgets/#django.forms.Widget.get_context, noting the sections highlighted with __New in Django 1.11.__

[2018-06-05 08:47] pcegarra opened #40 "cannot import name ColorPickerWidget"
Using django 1.6

[2018-06-05 08:47] #40 closed

[2018-09-30 08:29] r-f-g opened #43 "widget attrs"
cannot pass widget attrs for modal at bootstrap4

`ColorWidget(attrs={'class': 'form-control colorfield_field jscolor {zIndex: 1080}'})`

[2018-11-18 06:32] jeanluc243 opened #44 "django.template.exceptions.TemplateDoesNotExist: colorfield/color.html"
the color.html is not found

[2018-11-18 06:36] jeanluc243 commented on #44
[ solution ] create in templates folder

`colorfield/color.html`

and in the color.html add this code

`<input type="text" name="{{ name }}" {% if value %}value="{{ value }}"{% endif %} id="{{ attrs.id }}"
class="colorfield_field jscolor {% if not is_required %}{required:false}{% endif %}"/>`

[2019-01-15 08:20] polrodoreda commented on #43
Same problem here. It will be a great update.

[2020-02-10 08:38] kilrogg opened #46 "Version 0.1.17 cannot be installed - README.md missing in package"
[code]

Seems like MANIFEST.in still references README.rst

[2020-02-13 15:17] fabiocaccamo opened #48 "Repository ownership."
@jaredly since you are no more active on this repository, could you transfer to me the ownership of this repo?

[2020-02-15 05:43] jaredly commented on #48
Yup that sounds fine :)

[2020-02-15 05:44] jaredly commented on #48
oh, looks like I can't transfer it to you while you have an active fork of it 🙃 I get the error "fabiocaccamo/django-colorfield exists"

[2020-02-15 10:02] fabiocaccamo commented on #48
I just deleted the fork.

[2020-02-16 04:55] jaredly commented on #48
Ok, I think you have to accept now, and then it's done! Thanks for taking over :)

[2020-02-16 07:34] fabiocaccamo commented on #48
I accepted, thank you very much!

[2020-02-16 07:34] #48 closed

[2020-02-17 11:36] fabiocaccamo commented on #44
Probably you forgot to add `colorfield` to `settings.INSTALLED_APPS`.

[2020-02-17 11:36] #44 closed

[2020-02-17 11:38] #34 closed

[2020-02-17 17:19] fabiocaccamo opened #49 "color picker screenshot"
![Schermata 2020-02-17 alle 18 14 55](https://user-images.githubusercontent.com/1035294/74674565-f33ace00-51b1-11ea-8669-4b952f2b8e56.png)

[2020-02-17 17:19] #49 closed

[2020-02-17 17:54] fabiocaccamo commented on #46
I just released `0.2.0` version, could you check it please?

[2020-02-17 17:54] fabiocaccamo commented on #43
I just released `0.2.0` version, could you check it please?

[2020-02-17 17:54] fabiocaccamo commented on #39
I just released `0.2.0` version, could you check it please?

[2020-02-17 17:54] fabiocaccamo commented on #36
I just released `0.2.0` version, could you check it please?

[2020-02-17 17:54] fabiocaccamo commented on #7
I just released `0.2.0` version, could you check it please?

[2020-02-17 23:06] #37 closed

[2020-02-17 23:06] #46 closed

[2020-02-17 23:07] #39 closed

[2020-02-17 23:08] #36 closed

[2020-02-20 01:36] nelsonCastellanos commented on #7
Hi, I have the following issue
Failed lookup for key [class] in {'default': '# 000000', 'maxlength': '18', 'id': 'id_color_texto_informacion'}

This appears on the line on the line:
  class = "form-control colorfield_field jscolor {{widget.attrs.class}}"
archive:
color.html

[2020-02-20 08:00] fabiocaccamo commented on #7
@nelsonCastellanos which python and django versions are you using?

[2020-02-20 15:28] nelsonCastellanos commented on #7
I am using the version 3.6.7

[2020-02-20 16:22] fabiocaccamo commented on #7
@nelsonCastellanos I need more informations to debug the problem:
-   Python version: 3.6.7
-   Django version: ?
-   colorfield version: ?
-   when is raised this error? In the admin changelist page? In the admin object page? Using a form?

[2020-02-21 14:33] nelsonCastellanos commented on #7
- Django==2.2.5
- django-colorfield==0.2.0

The error arises when when I generate a function of type StackedInline
Example:
ModelAdmin(ImportExportModelAdmin, NonSortableParentAdmin):
      inlines = [
      ]
ModelInline(admin.StackedInline):
   model = Model
   extra = 0

And I try to add a new record of the inlline model

[2020-02-21 16:29] fabiocaccamo commented on #7
@nelsonCastellanoscould you try to install `0.2.1` version? (remember to run `python manage.py collectstatic` after updating the package).

[2020-02-21 16:30] #7 closed

[2020-02-21 20:40] nelsonCastellanos commented on #7
thanks!

[2020-02-26 12:07] cclloyd opened #50 "TemplateDoesNotExist when viewing model in admin panel."
**Python version**
3.7.6

**Django version**
3.0.3

**Package version**
3.2.1

**Current behavior (bug description)**
When viewing model or trying to create a new model in admin panel (dev mode), I get the following error:

This was after I added a color field to a model, then ran `makemigrations` and `migrate`, with that being the only change.

The field I added:

    iconBackground = ColorField(

[2020-02-26 13:25] fabiocaccamo commented on #50
@cclloyd have you added `colorfield` to `settings.INSTALLED_APPS` and restarted your app?

[2020-02-26 21:01] #50 closed

[2020-03-12 20:41] nelsonCastellanos commented on #7
Hi,
I had problems with ModelInline when adding a new model.
you can add $ (document) .ready () function to colorfield.js file

[2020-03-12 20:44] nelsonCastellanos commented on #7
Hi. I am problem with colorfield.js when django.jQuey is undefined

[2020-03-12 20:54] nelsonCastellanos commented on #7
can you use:
  $(document).ready(function(){

  })

[2020-03-13 08:54] fabiocaccamo commented on #7
Hi @nelsonCastellanos, please open a new issue using the bug template could trying to be more specific about your problem.

[2020-03-13 16:08] nelsonCastellanos opened #51 "Color is always required"
Hi,
Saving a field of type colorField does not allow saving null or blank.
Thanks.

`
 color_hex_1 = ColorField()
 color_hex_2 = ColorField(blank=True, null=True)
 color_hex_3 = ColorField(blank=True, null=True)
`

[2020-03-13 16:37] nelsonCastellanos opened #52 "Django inline error with color-field"
Hi,
Extends bug #7
When editing a model that has an inline colorField from the django administration interface, the library correctly displays the color picker, but when a new record is added in this same model that contains an inline-model, it does not display the picker because it loads colorField.js first and then jquery.

[2020-03-13 17:16] nelsonCastellanos commented on #51
I am solved this with default=None.
color_hex_1 = ColorField()
    color_hex_2 = ColorField(blank=True, null=True, default=None)
    color_hex_3 = ColorField(blank=True, null=True, default=None)

[2020-03-13 17:16] #51 closed

[2020-03-17 09:15] fabiocaccamo commented on #52
python version: ???
django version: ???
colorfield version: ???

[2020-04-01 21:47] selected-pixel-jameson commented on #52
I'm also seeing the same issue.

Python 3.6
Django 2.1
Colorfield Latest Version

[2020-04-01 23:32] fabiocaccamo commented on #52
Have you run `collectstatic`?

[2020-04-01 23:37] selected-pixel-jameson commented on #52
It seems like if that was the problem it wouldn’t work at all, but yes.

[2020-04-01 23:42] fabiocaccamo commented on #52
Maybe you had an old version of the js, because I fixed the inline behavior recently.

[2020-04-01 23:44] fabiocaccamo commented on #52
Could you check if the colorfield.js file loaded is equal to this:

[2020-04-02 11:41] selected-pixel-jameson commented on #52
This is what colorfield.js is loading.

`/**
 * jscolor - JavaScript Color Picker
 *
 * @link    http://jscolor.com
 * @license For open source use: GPLv3
 *          For commercial use: JSColor Commercial License
 * @author  Jan Odvarko
 * @version 2.0.5
 *
 * See usage examples at http://jscolor.com/examples/
 */

"use strict";

if (!window.jscolor) { window.jscolor = (function () {

var jsc = {

[2020-04-02 11:44] selected-pixel-jameson commented on #52
Here is my colorfield.js

`/** global: django */

if (typeof(django) !== 'undefined' && typeof(django.jQuery) !== 'undefined') {
    (function($) {
        // add colopicker to inlines added dynamically
        $(document).on('formset:added', function onFormsetAdded(event, row) {
            $(row['0']).find('.colorfield_field.jscolor').not('.jscolor-active').each(function(index, el) {

[2020-04-02 11:49] selected-pixel-jameson commented on #52
Interesting... if I look at the file in the debug window nothing shows up. But if I navigate to the URL in the browser it loads the file that I see in my static files.

![Screen Shot 2020-04-02 at 6 48 36 AM](https://user-images.githubusercontent.com/28204537/78246011-109bd100-74ae-11ea-9f08-29a7e701b0ba.png)

[2020-04-02 12:07] selected-pixel-jameson commented on #52
The problem seems to lie in this line of code.

`if(typeof(django) !== 'undefined' && typeof(django.jQuery) !== 'undefined')`

It never passes this. I'm not sure if that means the script is getting loaded at the wrong point or if I'm missing something.

[2020-04-02 12:12] selected-pixel-jameson commented on #52
So colorfield.js is being loaded before all other scripts in my admin page. I'm not sure how you modify where that script is loaded, but that is what the problem is and what is preventing this script from working.

[2020-04-02 12:48] selected-pixel-jameson commented on #52
Referencing this documentation specifically, https://docs.djangoproject.com/en/3.0/ref/contrib/admin/javascript/.

It looks like what you are attempting to do with formset:add also needs to be called after the document is ready.

[2020-04-02 12:59] fabiocaccamo commented on #52
@selected-pixel-jameson I'm testing right now but it works fine.
Are you using `django-colorfield==0.2.1` ?

I think the only reason could be that `colorfield.js` is loaded before `jquery` as said by @nelsonCastellanos.

[2020-04-02 13:05] fabiocaccamo commented on #52
Could you check the order of loaded scripts using the inspector?
![Schermata 2020-04-02 alle 15 04 36](https://user-images.githubusercontent.com/1035294/78252573-5a5ada80-74f3-11ea-8b9a-f8b00f9911eb.png)

[2020-04-02 13:06] selected-pixel-jameson commented on #52
The colorfield.js is loading before everything else. It's the second script that is loaded.

[2020-04-02 13:07] selected-pixel-jameson commented on #52
![Screen Shot 2020-04-02 at 8 06 59 AM](https://user-images.githubusercontent.com/28204537/78252768-fadfd900-74b8-11ea-9a77-e3b1c69af04b.png)

[2020-04-02 13:08] fabiocaccamo commented on #52
That's the problem, which browser are you using? Could you try it also with another browser?

[2020-04-02 13:08] selected-pixel-jameson commented on #52
I'm using Chrome.

[2020-04-02 13:10] selected-pixel-jameson commented on #52
The same issue is going to happen in every browser. This is a code issue.

[2020-04-02 13:16] fabiocaccamo commented on #52
I just tested it with Chrome, Firefox and Safari, but I can't replicate this issue.

I'm sorry but I don't know how to fix this, it is also strange because many others should be affected by this issue.

You could try to patch `colorfield.js` directly inside the site-packages folder, run `python manage.py collectstatic` and test it. If you find a solution feel free to submit a PR.

[2020-04-02 13:17] selected-pixel-jameson commented on #52
`window.addEventListener("load", event => {
  if (typeof django !== "undefined" && typeof django.jQuery !== "undefined") {
    (function($) {
      // add colopicker to inlines added dynamically
      $(document).on("formset:added", function onFormsetAdded(event, row) {
        $(row["0"])
          .find(".colorfield_field.jscolor")
          .not(".jscolor-active")
          .each(function(index

[2020-04-02 13:18] selected-pixel-jameson commented on #52
You need to make sure that $(document).on("formset:added") is not being called until after the document or window is fully loaded.

[2020-04-02 13:18] selected-pixel-jameson commented on #52
https://developer.mozilla.org/en-US/docs/Web/API/Window/load_event

[2020-04-02 13:22] fabiocaccamo commented on #52
Have you tested it?

[2020-04-02 13:24] selected-pixel-jameson commented on #52
I'm trying, but I have manifestfilestfiles setup so altering static files from third-parties is not straight forward for me and something I've not done before.

[2020-04-02 13:32] fabiocaccamo commented on #52
I pushed the updated script, could you install `django-colorfield` from master?
`pip install git+https://github.com/fabiocaccamo/django-colorfield.git`

[2020-04-02 13:35] selected-pixel-jameson commented on #52
Seems to be working. Thank you.

[2020-04-02 13:36] selected-pixel-jameson commented on #52
<img width="480" alt="Screen Shot 2020-04-02 at 8 36 28 AM" src="https://user-images.githubusercontent.com/28204537/78255590-151bb600-74bd-11ea-8c31-6f3ed66c2a46.png">

[2020-04-02 13:39] fabiocaccamo commented on #52
You can install `0.2.2` version: `pip install django-colorfield==0.2.2`

[2020-04-02 13:40] #52 closed

[2020-04-02 14:10] selected-pixel-jameson opened #53 "Can't set default to None or ''"
**Python version**
3.6

**Django version**
2.1

**Package version**
0.2.2

**Current behavior (bug description)**
When I set default = None or default = '' the default value is still used.

**Expected behavior**
I would expect no value to be displayed when this form initially is displayed. Thus forcing the user to enter a value if the field is required or not saving a value at all in the database.

[2020-04-02 16:22] selected-pixel-jameson opened #54 "Field is not adding the '#' correctly."
**Python version**
3.6

**Django version**
2.1

**Package version**
0.2.2

**Current behavior (bug description)**
When the color field initial loads it is setting the color to a value of 'FFFFFF'. This causes an error to be thrown. Even if I change the color the '#' is still not added to the value. Therefore it's an invalid color.

**Expected behavior**
I expect it to consider colors without a '#'

[2020-04-02 21:06] fabiocaccamo commented on #54
Are you upgrading from an older version or is this a fresh installation of this package?

[2020-04-03 10:46] selected-pixel-jameson commented on #54
I upgraded from 0.2.1 to 0.2.2.

[2020-04-03 11:04] fabiocaccamo commented on #54
As you can see in `colorfield/templates/colorfield/color.html` there is a `jscolor` option that forces the `#` prefix and in the field the default value includes the `#`.

I can’t replicate this issue and I have not idea of what could be the cause, have you any idea?

[2020-04-03 11:13] selected-pixel-jameson commented on #54
If I install the previous version 0.2.1 this is not a problem. If I install 0.2.2 it is.

[2020-04-03 11:16] selected-pixel-jameson commented on #54
I'm guessing it has something to do with the change that we made to the other script.

[2020-04-03 11:22] fabiocaccamo commented on #54
It is just the code that make work the inlines executed  on window load event, nothing that could broke the correct behavior.

[2020-04-03 12:05] selected-pixel-jameson commented on #54
After diving into this further I'm assuming that you are instantiate the admin form with at least 1 item pre-populated? i.e. Either not setting the 'extra' property or setting 'extra=1', 'extra=2', etc.

In my scenario I'm setting extra=0.

Since jscolor is setup when the page loads, and not when the elements are added to the page this causes the issue with it not getting configured correctly beca

[2020-04-03 12:07] selected-pixel-jameson commented on #54
Just confirmed. If I set extra=1 I do not see this issue anymore. So.. this is in fact a bug as the scenario of setting extra=0 is definitely a use case.

[2020-04-03 12:31] selected-pixel-jameson commented on #54
https://github.com/fabiocaccamo/django-colorfield/pull/55

[2020-04-03 12:31] selected-pixel-jameson commented on #53
https://github.com/fabiocaccamo/django-colorfield/issues/55

[2020-04-03 15:24] fabiocaccamo commented on #54
Oh nice, that was the problem, yes I had one extra inline by default.
I will test it, merge your PR and release a new version in the next days. Thank you

[2020-04-07 09:50] fabiocaccamo commented on #53
I think that the default value could be set dynamically based on other attributes, for example:
[code]

[2020-04-07 10:23] fabiocaccamo commented on #54
You can upgrade to `0.3.0` version, remember to run `makemigrations` and `migrate`.

[2020-04-07 10:23] #54 closed

[2020-04-07 10:23] fabiocaccamo commented on #53
You can upgrade to `0.3.0` version, remember to run `makemigrations` and `migrate`.

[2020-04-07 10:23] #53 closed

[2020-04-29 19:58] fgebhart opened #56 "Colorpicker does not open on custom view, even though it works in admin"
**Python version**
3.7.5

**Django version**
3.0.3

**Package version**
0.3.0

**Current behavior (bug description)**
After including a `color_field` in my model like described in the Readme of this repo and after running a collectstatics I am able to pick a color via the colorpicker like expected in the django admin panel. But when including the form field in a custom view and html page like the

[2020-04-29 20:08] fabiocaccamo commented on #56
@fgebhart thank you for reporting this, I will debug it as soon as possible.

[2020-04-29 20:22] fgebhart commented on #56
Thanks for your quick response, but I found the missing piece. Thanks to [this stackoverflow post](https://stackoverflow.com/questions/60977056/can-i-add-a-color-picker-to-django-forms):

I simply had to include `{{ form.media }}` inside my `<form>` tag. Works like a charm!

[2020-04-29 20:22] #56 closed

[2020-05-04 10:23] mihalikv commented on #33
here you have closed PR for replacement to spectrum.

[2020-05-14 13:07] dadokkio opened #57 "z-index issue with Colorpicker and bootstrap dialog"
**Python version**
3.8

**Django version**
3.0

**Package version**
0.3.0

**Current behavior (bug description)**
Is not possible to use the colorpicker in bootstrap modal because the z-index of the modal is higher (1050 vs 1000) and the colorpicker stays in background

**Expected behavior**
A way to change the z-index via js or via css

[2020-05-16 12:59] fabiocaccamo commented on #57
@dadokkio you have this issue in the admin?
If not, you could just write some simple css that overrides jscolor `z-index` or bootstrap modal `z-index`.

As you can see [here](https://github.com/fabiocaccamo/django-colorfield/blob/master/colorfield/static/colorfield/jscolor/jscolor.js#L977) `jscolor` supports many css options, feel free to submit a PR to pass custom widget options.

[2020-05-17 13:09] dadokkio commented on #57
No, it's on a standard page. This is the result with inspection:

![image](https://user-images.githubusercontent.com/355183/82147675-f8122b00-984f-11ea-9994-a1914046f07b.png)

The css seems to be generated via js and the div has no class. I tried to increase the z-index in jscolor.js but it's overwritten somewhere else so I thought there were a way to set it.

[2020-05-18 12:29] fabiocaccamo commented on #57
I understand, the code generated by jscolor by is not fantastic 😅.
Have you the possibility to modify the boostrap z-index instead?

`jscolor` actually accepts some options passed to the constructor, but this would some rework in the implementation as you can see in the widget js.

If you want to fix it feel free to submit a PR.

[2020-05-19 17:47] dyspop opened #58 "Support additional color types"
**Is your feature request related to a problem? Please describe.**
I'm using ColorField in an HTML builder app. It's really nice but (I think?) it only supports hex colors.

**Describe the solution you'd like**
Add support for RGB, RGBA and HTML-named colors.

**Describe alternatives you've considered**
Alternatively I may couple the ColorField with a custom ColorFieldDisplayType field, with choic

[2020-05-19 18:04] fabiocaccamo commented on #58
@dyspop thank you for this suggestion.
`ColorfField` purpose is to provide a color picker for the django admin using hex-colors. If you need some more advanced color-pickers in the frontend I suggest you to use a more advanced color picker.

If you make it compatibile with `django-colorfield` feel free to submit a PR keeping in mind that:
- colors must be stored as hex in the database
- any other

[2020-06-07 08:00] politas commented on #33
JsColor's Licence page actually says

So there doesn't seem to be a problem here, as long as no one tries to use the jsColor part in a proprietary project.

[2020-06-07 08:08] #33 closed

[2020-06-09 08:44] rspeed commented on #44
I just had this occur because colorfield was somehow installed as an egg. There isn't a `zip_safe` setting in `setup.py`, so maybe that has something to do with it?

[2020-06-11 08:05] dadokkio commented on #57
Yes, the suggestion to modify bootstrap is probably the easiest solution.

In my case, this worked properly:

[code]

I've seen that color.js has a similar issue [https://github.com/EastDesire/jscolor/pull/8] and some new commit recently.. let's see if they'll take care of this.

[2020-06-11 16:23] fabiocaccamo commented on #57
@dadokkio thank you, your solution could be useful to many others.

There is not any new `jscolor` release, in that case just drop me a line and I will update the library.

[2020-06-11 16:29] dadokkio commented on #57
I was talking about this commit:
https://github.com/EastDesire/jscolor/commit/425510ae3ac7d36fc78ceafadb3b43fdf6320866

That should add a class that will permit a css customization.

[2020-06-16 09:03] dadokkio commented on #57
Ok, seems that new releases have been finally created

[2020-06-17 10:39] fabiocaccamo commented on #57
@dadokkio you can install `0.3.1` version.

[2020-06-18 14:41] #57 closed

[2020-06-20 14:34] ZackPlauche opened #59 "Transparency picker for Hex code"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The application is missing the ability to add transparency settings to hex code (which is now the additional 2 characters you can add to a hex code).

For example, if you want to have a transparent black color you can now type: #00000050, o

[2020-07-01 11:10] fabiocaccamo commented on #59
@ZackPlauche I understand your need, personally I had the same need in the past.

I don't know if the last version of `jscolor` supports the alpha channel, I will check it. Otherwise the only solution would be to support a new color picker fully backward-compatible.

[2020-07-11 11:17] philclaridge opened #61 "Validation error for colour selected via picker"
**Python version**
3.8

**Django version**
3.0.7

**Package version**
0.3.2 (including jscolor 2.1.1)

**Browser**
Safari and Chrome

**Current behavior (bug description)**
Validation error on admin screen "Enter a valid color."
Occurs for colour edited via picker, or default colour or colour with # previously read from database.
On deeper inspection colours selected with colour picker are display

[2020-07-13 13:05] fabiocaccamo commented on #61
@philclaridge this is really strange. I could understand if your only case would be reading a previously stored color without the `#`, but default colors and colors choosen using the color picker should work fine.

I'm not able to reproduce the issue you reported. In all my tests color is always prefixed correctly by `#`.
Could you try to force delete of browser cache?

[2020-07-20 08:26] fabiocaccamo commented on #61
@philclaridge any feedback?

[2020-08-03 08:41] fabiocaccamo commented on #61
Feel free to re-open this issue if you have an useful feedback to provide.

[2020-08-03 08:41] #61 closed

[2020-08-12 16:12] biwin opened #62 "Redistributing as MIT with a GPLv3 licensed library?"
JScolor is licensed [GPLv3 ](https://github.com/fabiocaccamo/django-colorfield/blob/master/colorfield/static/colorfield/jscolor/jscolor.js#L5). We are distributing this lib as MIT with GPL code. [JSColor](https://jscolor.com/download/) has clearly stated as

Using and distributing this lib as MIT is a violation of GPL.
We have to either release as **GPL** (viral behaviour of GPL) or reconsider the

[2020-08-25 15:40] dryan commented on #61
I believe this is an underlying issue with JSColor when a Content Security Policy doesn't allow `'unsafe-eval'`. I ran into this myself and had to make an exception inside the admin area for my CSP.

[2020-08-25 15:54] fabiocaccamo commented on #61
Thank you for the useful information.

[2020-10-27 14:34] mhowarth10 opened #63 "Background color of the first field does not change"
**Python version**
3.6

**Django version**
3.0.5

**Package version**
0.3.2

**Current behavior (bug description)**
I have 4 color fields. The first one does not change color when I move the slider, but the rest of them do.

![](https://i.imgur.com/sIwcDqt.gif)

Code:

[code]

**Expected behavior**
Color fields should change background colors when the slider is moved.

[2020-10-27 14:38] fabiocaccamo commented on #63
I quickly tested it on an existing project I'm working on (python 3.8 and django 3.1) and I can't replicate this issue.
Could you:
- check if there is any useful log in the browser console
- test it against different python/django versions

[2020-10-27 14:39] fabiocaccamo commented on #63
Your model field declaration is the same for all 4 color fields?

[2020-10-27 14:42] mhowarth10 commented on #63
Sorry, this is my fault. I had the slider on the right handside all the way down to the dark colors.

It works as intended.

Thanks for getting back so quickly.

[2020-10-27 14:42] #63 closed

[2020-12-03 10:39] isik-kaplan commented on #62
I think this falls under this: [MereAggregation](https://www.gnu.org/licenses/gpl-faq.html#MereAggregation) I think most of the front-end javascript dependencies falls under this.

[2021-01-04 14:38] #62 closed

[2021-01-13 16:38] rcatajar commented on #49
Screen new field look

![image](https://user-images.githubusercontent.com/7900305/104481539-3241f100-55c6-11eb-8fae-c4f1b4f30ca5.png)

[2021-01-13 16:41] rcatajar commented on #49
Screen hexa
![image](https://user-images.githubusercontent.com/7900305/104481799-7e8d3100-55c6-11eb-8ab1-7d9a1ceb3040.png)

[2021-01-13 16:47] rcatajar commented on #49
With palette
![image](https://user-images.githubusercontent.com/7900305/104482636-72ee3a00-55c7-11eb-942b-067f325fac1d.png)

[2021-01-13 17:09] fabiocaccamo commented on #49
@rcatajar could you add the same top, left, bottom, right margins like in my first screenshot?

[2021-01-13 21:26] rcatajar commented on #49
hex
![oie_aYuKJWstAmIG](https://user-images.githubusercontent.com/7900305/104512324-51ed0f80-55ee-11eb-9144-de03d922c2ce.png)

hexa
![oie_nfXHNXiMTvxq](https://user-images.githubusercontent.com/7900305/104512063-ec991e80-55ed-11eb-95b6-9174ac3f4f38.png)

Palette
![oie_GDxJi71N2qFX](https://user-images.githubusercontent.com/7900305/104512178-194d3600-55ee-11eb-8cba-91cca156da06.png)

[2021-01-14 09:21] fabiocaccamo commented on #59
@ZackPlauche `django-colorfield==0.4.0` supports `format='hexa'` option for doing exactly what you need.

[2021-01-14 09:21] #59 closed

[2021-01-14 09:22] fabiocaccamo commented on #19
@vsoch  `django-colorfield==0.4.0` (thanks to the great work of @rcatajar) now supports `choices=YOUR_COLOR_CHOICES` option for doing exactly what you need.

[2021-01-14 09:22] #19 closed

[2021-01-14 09:30] fabiocaccamo commented on #58
@dyspop thanks to the great work of @rcatajar the `format` field option is now available.
Actually the formats supported are `hex` and `hexa`, but it should not be hard to support more color formats.

[2021-01-18 19:00] andrewhayes1979 opened #65 "500 error caused by new palette choice code in 0.4.0"
**Python version**
3.8.3

**Django version**
2.2.x

**Package version**
0.4.0

**Current behavior (bug description)**
 - I have a model with ColorFields in it using an older 0.3.2 release of this package
 - just upgraded to 0.4.0
 - new palette choice code in the formfield() method causes a 500 error in the model admin

Essentially, I don't override choices in the model definition, choices weren't

[2021-01-18 19:43] fabiocaccamo commented on #65
Thank you for reporting this.

@rcatajar could you fix it?

[2021-01-19 11:09] fabiocaccamo commented on #65
You can install `0.4.1` version.

[2021-01-19 11:09] #65 closed

[2021-01-19 16:50] rcatajar commented on #65
Sorry about that, I was not aware that in older version choices defaults to `[]`. In django 3.0 and above it defaults to `None`

[2021-01-19 16:51] fabiocaccamo commented on #65
@rcatajar no problem.

[2021-01-27 04:06] #58 closed

[2021-02-07 16:34] nhrnhr0 opened #67 "disable colorfield in ModelForm"
**Python version**
Python 3.9.1

**Django version**
Django==3.1.6

**Package version**
?

**Current behavior (bug description)**
I have this field in models.py:
`backgroundColor = ColorField(default="#ffffff")
`
And in form.py:
[code]
**Expected behavior**
I want it to disable the color field but the field is still enabled.

[2021-02-09 15:00] fabiocaccamo commented on #67
@nhrnhr0 thank you for reporting this, feel free to submit a PR.

[2021-07-09 10:36] DavidNiceblue opened #68 "Selected color can't be saved because it is not in `COLOR_CHOICES`"
I think COLOR_CHOICES will help users quickly choose the color what he want.The colors in COLOR_CHOICES are just recommendation for users.If users want to choose other colors that not in COLOR_CHOICES,I think he can also submit.Otherwise, the COLOR_CHOICES appearing while the color picker exist will be meaningless.

[2021-07-12 16:58] fabiocaccamo commented on #68
@DavidNiceblue thank you for reporting this, I think there should be 2 behaviours:

- When color `COLOR_CHOICES` are defined, the picker should display only the choices and allow only a valid choice in validation.

- When `COLOR_SAMPLES` are defined (this property doesn't exist, it should be added), the picker should allow both sample selection or custom color selection.

@rcatajar what do you thi

[2021-07-12 18:53] rcatajar commented on #68
This is a good idea.
Unfortunately it seems like jscolor does not have an option to disable the picker, so it's not super easy to implement.

[2021-07-12 19:08] fabiocaccamo commented on #68
@rcatajar maybe it is possible to hide the picker spectrum via css, I will try to do it.

[2021-07-12 20:19] fabiocaccamo commented on #67
@nhrnhr0 you can upgrade to `0.4.2` version.

[2021-07-12 20:19] #67 closed

[2021-09-13 21:52] marti1125 opened #70 "subclasses of Widget must provide a render() method"
**Python version**
2.7.18

**Django version**
1.8

**Package version**
0.4.2

**Current behavior (bug description)**
[code]

**Expected behavior**
works like the doc.

[2021-09-16 12:39] fabiocaccamo commented on #70
@marti1125 could you provide a failing test please? In this way we avoid regressions.

[2021-09-16 12:56] fabiocaccamo commented on #70
@marti1125 you can upgrade to `0.4.3` version, please let me know if the problem persists.

[2021-09-16 12:57] #70 closed

[2021-10-11 09:28] sacovo opened #71 "name of rendered form input attribute is empty"
**Python version**
3.8

**Django version**
3.2.8

**Package version**
0.4.4

**Current behavior (bug description)**
Rendering the input field in an html template leaves the `name` attribute empty, thus the input value is not submitted.

**Expected behavior**
The input element should have the `name` attribute set according to the name of the input field.

This can be fixed by passing the name from

[2021-10-12 08:47] #71 closed, assigned to fabiocaccamo

[2021-10-12 08:51] fabiocaccamo commented on #68
@rcatajar I checked what was possible to do via css, but unfortunately there is just one jscolor instance in each page and it has not any attribute that could allow to select it depending on which input is active.

[2021-12-06 19:32] rniem379349 commented on #68
@fabiocaccamo thanks for merging my PR, would you consider cutting a new release soon? I could then use this in a project instead of my fork. What do you think?

[2021-12-06 20:23] fabiocaccamo commented on #68
@rniem379349 you can upgrade to `0.5.0` version. Thanks for the PR.

**I would keep this issue open until we find a way to hide the spectrum when using `choices`.**

[2021-12-23 13:33] fabiocaccamo opened #74 "Hide color-picker spectrum when using `choices`."
The continuation of #68

[2021-12-23 13:33] #68 closed

[2021-12-23 14:03] fabiocaccamo commented on #74
This seems impossible to be done with the current `jscolor` library.
I start to consider the idea to switch to another color picker with the same UX and a similar implementation.

Here the list of candidates:
- [Coloris](https://github.com/mdbassit/Coloris)

[2022-01-03 10:26] fabiocaccamo opened #75 "ValueError: seek of closed file"
**Python version**
3.8

**Django version**
3.2

**Package version**
0.6.0

**Current behavior (bug description)**
A `ValueError: seek of closed file` is raised when saving image in the backend and the field has the `image_field` property set.

**Expected behavior**
No exception should be raised.

[2022-01-04 16:17] code-review-doctor opened #76 "Comma missing in MIDDLEWARE_CLASSES breaks things for Django <2"
The lack of comma here on line 43:
https://github.com/fabiocaccamo/django-colorfield/blob/5e465af037cc08dafd5a6297119e9db3cdc0f715/tests/settings.py#L27-L32

results in implicit string concatenation, so `'django.contrib.messages.middleware.MessageMiddleware'` will get concatenated with the next line `'django.contrib.sessions.middleware.SessionMiddleware'`, resulting in Django attempting to import

[2022-01-04 17:12] #75 closed

[2022-01-04 17:17] #76 closed

[2022-02-15 13:32] CharString commented on #74
That would be nice. I came here to inspect how hard it would be to add hsl support as I have my palette defined in that.

[2022-06-07 12:48] N1K1TAS95 commented on #43
Hi!
I stil have this issue.
My form is:
[code]
and when rendered the resulting input classes are `form-control colorfield_field jscolor`.

I have colorfield versione `0.7.0` and Django `4.0.4`

Thanks 😉.

[2022-06-07 13:38] fabiocaccamo commented on #43
@N1K1TAS95 thank you for reporting this, if in the meantime you fix it, feel free to submit a PR.

[2022-06-08 08:54] N1K1TAS95 commented on #43
@fabiocaccamo I've added a PR.
I found that template `color.html` did not included `{{ class }}` from context while rendering.

[2022-06-08 09:01] N1K1TAS95 commented on #43
@fabiocaccamo
I also think that `form-control` is for Bootstrap only. Maybe it's the case to remove this defalut class and let user decide it. But it maybe break someones code...

[2022-06-08 09:01] fabiocaccamo commented on #43
@N1K1TAS95 thank you for the PR, you can upgrade to `0.7.1` version.

[2022-06-08 09:01] #43 closed

[2022-07-18 10:03] jan-szejko-steelseries opened #80 "Options not working when not using palette (choices/samples)"
**Python version**
2.7

**Django version**
1.11

**Package version**
0.7.1

**Current behavior (bug description)**
When the palette options are not used, the input renders with the `data-jscolor` attribute ending with `...,palette:}`. It causes the options to be ignored, e.g. a non-required field becomes required.

**Expected behavior**
An empty palette should not cause other options to be ignored

[2022-07-18 10:05] fabiocaccamo commented on #80
@jan-szejko-steelseries thank you for reporting this, could you show your field implementation (in your model)?

[2022-07-18 10:30] jan-szejko-steelseries commented on #80
[code]

[2022-07-18 10:33] jan-szejko-steelseries commented on #80
@fabiocaccamo  You can experiment on https://jscolor.com/examples/ to see that an input with `data-jscolor="{required:false,palette:}"` does not allow an empty value.

[2022-07-19 08:20] fabiocaccamo commented on #80
@jan-szejko-steelseries you can upgrade to `0.7.2` version. Thank you for the PR.

[2022-07-19 08:20] #80 closed

[2022-08-09 07:05] StevenMapes commented on #74
Moving away from JSColor would be good as whilst this package is MIT Licensed JSColor is not. It's only GNU GPL v3 for opensource packages any commercial or even private projects would not be able to use this library due to their license.

[2022-08-09 07:07] StevenMapes opened #82 "Update README to link to JSColor license"
JSColor is only GNU GPL v3 for open source, GNU GPL v3 compatible, licenses. For anything else it requires a paid commercial license.
https://jscolor.com/download/

<a href="https://dashboard.polar.sh/fabiocaccamo/django-colorfield/issues/82">
<picture>
  <source media="(prefers-color-scheme: dark)" srcset="https://dashboard.polar.sh/api/github/fabiocaccamo/django-colorfield/issues/82/pledge.svg?d

[2022-08-09 08:16] fabiocaccamo commented on #74
@StevenMapes I'm aware of this limitation, unfortunately at the moment I have not the time for working on it.

I created this discussion #83.

[2022-08-09 08:16] fabiocaccamo commented on #82
@StevenMapes I'm aware of this limitation, unfortunately at the moment I have not the time for working on it.

I created this discussion #83.

[2022-11-10 16:25] titarch opened #91 "Show the color in the change_list view (currently only shows the hex value)"
I am using django-colorfield in one of my project, it's awesome but I needed a way to get a list overview of the color to make sure they don't clash to much with one another.

So instead of displaying the hex value, it would be great to have a similar colored badge (except without the picker) as the creating/editing admin views.

As a temporary workaround, I am just coloring the background of the

[2022-11-10 16:39] fabiocaccamo commented on #91
@titarch True, this is useful. It can be achieved without using js at all.